<html>
    <head>
        <title>Amruta's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Amrutas Blog</a></h1>
        </div>

        <div>
            <p>published: Today, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Excited</p>
        </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
    </body>
</html>